doctype html

html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1,0")
		title Vi udvikler ambitiøse digitale løsninger &#124; Plant
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/main.css")
		script(type="text/javascript", src="js/jquery.min.js")
		script(type="text/javascript", src="js/headroom.js")
		script(type="text/javascript", src="js/jquery.headroom.js")
		script(type="text/javascript", src="js/script.js")
		<script src="https://use.typekit.net/xtl4qys.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

	body
		header
			.container
				.brand
					include brand.svg
				nav
					ul
						li: a(href="#") Cases.
						li: a(href="#") Om Plant.
						li: a(href="#") Karriere.
						li: a(href="#") Kontakt os.
						li: a(href="#") Blog.

		.content
			.latest
				.ft-img
				.container
					.context
						.aligner
							span Sparta atletik og motion
							h2 Interaktivt rutekort til Copenhagen Half Marathon.
							p Et rutekort til smartphone, tablet og desktop, der gør det nemmere for løbere, heppere og andre interesserede at udforske ruten og de mange begivenheder rundt om løbet.
							a(href="http://mazouz.dk/").read-more Se case
		
			.container
				.wrapper
					.row
						.ft-img.l-img.mashed.pre-slide
						.context.r-con
							.aligner
								span.pre-pop MASHED A/S
								h2.pre-pop Unikke dramaserier i kort format.
								p.pre-pop Visuel identitet og responsiv platform til den nye, danske streaming tjeneste MASHED, der lancerede i marts med premieren af fiktionsserien Fetter
								a(href="http://mazouz.dk/").read-more.pre-pop Se case
					.row
						.ft-img.r-img.bestseller.pre-slide
						.context.l-con
							.aligner
								span.pre-pop BESTSELLER / Kommunikationsbureauet København
								h2.pre-pop Aldrig har velgørenhed set så godt ud.
								p.pre-pop App, website og dashboard til kampagnen GIVE-A-DAY - en dag hvor omsætningen fra BESTSELLERs butikker i hele verden og online gik til velgørenhed.
								a(href="http://mazouz.dk/").read-more.pre-pop Se case

					.row
						.ft-img.l-img.dr.pre-slide
						.context.r-con
							.aligner
								span.pre-pop dr
								h2.pre-pop En videohilsen ud over det sædvanlige.
								p.pre-pop Interaktiv videohilsen med fokus på den gode historie og DRs brede palette af kanaler og programmer.
								a(href="#").read-more.pre-pop Se case
					.row.latest-posts
						h2.section-title Nyt på bloggen
						.post-list
							.aligner
								ul
									li
										a(href="#")
											span 2016-04-14
											h4 Inspiring Design Links: Week 15
											//i V
									li
										a(href="#")
											span 2016-04-08
											h4 Inspiring Design Links: Week 14
											//i V
									li
										a(href="#")
											span 2016-04-01
											h4 Inspiring Design Links: Week 13
											//i V
						.ft-post-img
		footer
			.references
				.container
					a(href="#"): img(src="http://plant.dk/content/themes/Plantdk/img/ms-logo.svg", alt="Microsoft")
					a(href="#"): img(src="http://plant.dk/content/themes/Plantdk/img/nykredit-logo.svg", alt="Nykredit")
					a(href="#"): img(src="http://plant.dk/content/themes/Plantdk/img/rk-logo.svg", alt="Red Cross")
					a(href="#"): img(src="http://plant.dk/content/themes/Plantdk/img/dr-logo.svg", alt="DR")
					a(href="#"): img(src="http://plant.dk/content/themes/Plantdk/img/cph-logo.png", alt="CPH Airport")
					a(href="#"): img(src="http://plant.dk/content/themes/Plantdk/img/boligp-logo.svg", alt="Boligportal")
			.bottom-section
				.container
					.information
						.col1
							include brand.svg

							p Vi udvikler ambitiøse digitale løsninger til glade kunder.

						.col2
							p Plant Aps<br>Borgergade 6, 3.<br>1300 K&oslash;benhavn K<br>Danmark<br>Tlf.: +45 3210 0035

							a(href="mailto:info@plant.dk") info@plant.dk
							a(href="mailto:job@plant.dk") job@plant.dk


					.links
						.col1
							ul
								li
									a(href="#") Cases
								li
									a(href="#") Karriere
								li
									a(href="#") DIA Future
								li
									a(href="#") Blog
								li
									a(href="#") DHL Event
								li
									a(href="#") Om Plant

						.col2
							p Medlem af IT Branchen
							a(href="#").pre-slide: img(src="img/insta.svg", alt="Instagram")
							a(href="#").pre-slide: img(src="img/fb.svg", alt="Facebook")
							a(href="#").pre-slide: img(src="img/twitter.svg", alt="Twitter")
							a(href="#").pre-slide: img(src="img/vimeo.svg", alt="Vimeo")
							a(href="#").pre-slide: img(src="img/yt.svg", alt="YouTube")
							a(href="#").pre-slide: img(src="img/slides.svg", alt="Slideshare")

					p.copyright &copy; 2016 Plant. All Rights Reserved